<Title Level="2">Contact</Title>
<p id="contact">
    <Row>

        <Col Span="12" Offset="6">
        <Space>
            <SpaceItem>

                <a href="https://www.linkedin.com/in/vicnilsson/" style="color:inherit" target="_blank">
                    <Icon Type="linkedin" Theme="outline" Style="font-size: 32px;" />
                </a>
            </SpaceItem>
            <SpaceItem>

                <a href="https://github.com/V-Nilsson" style="color:inherit" target="_blank">
                    <Icon Type="github" Theme="outline" Style="font-size: 32px;" />
                </a>
            </SpaceItem>
            <SpaceItem>


                <a href="mailto:vic.nilsson@proton.me" style="color:inherit" target="_blank">
                    <Icon Type="mail" Theme="outline" Style="font-size: 32px;" />
                </a>
            </SpaceItem>

        </Space>

        </Col>
    </Row>

</p>