<Space Direction="DirectionVHType.Vertical">
    <SpaceItem>
        <Layout style="padding-top: 30vh; min-height: 100vh; width: 100vw; font-family: Verdana;">
            <p id="#home">
                <Title>Hello, I'm Victor</Title>
                <Text>A fullstack Software Developer with a focus on backend</Text>
            </p>

        </Layout>
    </SpaceItem>

</Space>