@inherits LayoutComponentBase

<PageTitle>Portfolio</PageTitle>

<div class="page">

    <main>
        <Layout>
            <Header Style="position: fixed; z-index: 1; width: 100%;">
            <NavMenu />              
            </Header>

                <Content Style="text-align: center">
                    @Body

                </Content>

          <LayoutFooter/>
        </Layout>
    </main>
</div>